/* Home Article Design --> */
.homeArticle {
    padding: 1rem;
}

.hArtHead {
    padding: 1rem;
}

.hArtHead h1{
    width: 13rem;
    border-bottom: 1px solid #eee;
    margin: 0 auto;
    text-align: center;
}

.articleData {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    gap: .5rem;
    padding: 1rem 0;
}

.artCont {
    width: 20rem;
    border-radius: 12px;
    box-shadow: 1px 1px 2px 4px #76f1ff12;
    overflow: hidden;
    transition: transform 0.2s ease;
}

.artCont:hover {
    box-shadow: 1px 1px 2px 1px #76f1ff91;
    transform: translateY(-5px);
}

.artCont img {
    width: 100%;
    height: auto;
}

.artCont h4 {
    width: 100%;
    font-style: 1.1rem;
    padding: .3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.artCont p {
    width: 5rem;
    padding: 0 .3rem;
    color: #f0f8ff;
    background-color: #85796a;
    text-align: center;
    border-radius: 1rem;
}

.seeAllArt{
    width: 12rem;
    margin: 0 auto;
}
